<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.usablelabs.duedo">

    <application
        android:name=".DueDoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo1"
        android:label="Taking Care Of Women"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FormActivity" />
        <activity android:name=".PeriodShowActivity" />
        <activity android:name=".SexShowActivity" />

        <meta-data
            android:name="AA_DB_NAME"
            android:value="DueDu.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />
        <meta-data
            android:name="AA_MODELS"
            android:value="org.usablelabs.duedo.Task,org.usablelabs.duedo.Sex" />

        <activity android:name=".MenuInsertDetailActivity" />
        <activity android:name=".ReportActivity" />
        <activity android:name=".SexDetialActivity" />
        <activity android:name=".FormPeriodActivity" />
        <activity android:name=".Form2SexActivity" />
        <activity android:name=".SettingActivity" />
        <activity android:name=".PeriodActivity" />
        <activity android:name=".FormSexActivity" />
        <activity android:name=".Report1Activity" />
        <activity android:name=".LineChartActivity" />
        <activity android:name=".BarChartActivity"></activity>
        <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>
